<%- include("includes/head.ejs") %> 
<div class="container">
    <img src="./users.svg" alt="users">
    <a href="/users" class="btn btn-primary">To Add User</a>
    <a href="/users/view" class="btn btn-warning">To view Users</a>
</div>
<%- include("includes/tail.ejs") %> 
